<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>KHT</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
        <p class='KSK'>KSK</p>
        <div class='content'>
        <div class='token'>
        <h1 class='KSK_token'>košice hack token</h1>
        </div>
        <div class='form_whole'>
        <form action="auth" method="POST" class='form'>
            <input class='input_text padd' type="text" name="username" placeholder="Username" required>
            <input class='input_text pass padd' type="password" name="password" placeholder="Password" required>
            <div style="color:red;"><%= message %></div>
            <input type="submit" class='button_sign_in padd' value='Sign in'>
            <a href='/' class='sign_up'>Sign Up</a>
        </form>
        
    </div></div>
	</body>
</html>