<!DOCTYPE html>
<html>
<head>
	<title>WebApp</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Send</h1>
	<form action='/send/' method='post'>
		<label for='text'>Send to:</label>
		<input id='text' type='text' name='id' />
		<button type='submit'>Send</button>
	</form>
	<a href='/'>Back</a>
</body>